body {
    font-family: sans-serif;
    margin-top: 10px;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 10px;
    width: 20px;
}

.container {
    max-width: 200px;
    margin: 0 auto;
    color: black;
    font-family: cambria;
    padding-left: 5px;
    padding-right: 10px;
}
